/*//////////////*/
/* Base styles  */
/*/////////////*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img {
    width: 100%;
}
body{
    background: rgba(196, 155, 128);
}
/*//////////////*/
/*    Header    */
/*/////////////*/
header{
    height: 100px;
}
.navBar li{
    padding-top: 1rem;
}
.navBar a{
    padding: 20px;
    margin: 0 5px;
    font-size: 1.5rem;
}
.navBar ul{
    display: flex;
    justify-content: space-between;
}
.navBar img{
    width: 5%;
    margin: 0 35rem;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(88, 48, 11);
}
/*//////////////*/
/*    showcase  */
/*/////////////*/
.showcase{
    height: 300px;
}
.showcase ul{
    display: flex;
}
.showcase li{
    padding: 2rem;
}
/*//////////////*/
/*  specialty   */
/*/////////////*/
.specialty{
    padding-top: 5rem;
    height: 200px;
}
.specialty .specialtyLogo{
    width: 20%;
}
.specialty .grid-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.secondgrid{
    position: relative;
    left: -5rem;
    top: 1rem;
}
.specialty .btn{
    display: inline-block;
    margin-top: 2rem;
}
.specialty .coffeeIcon{
    width: 50%;
}
.coffeeIcon img{
    padding-left: 6rem;
}
.coffeeIcon img:first-child{
    width: 85%;
    padding-top: 1rem;
}
.coffeeIcon img:nth-child(2n){
    width: 90%;
}
/*//////////////*/
/*    About     */
/*/////////////*/
.about{
    padding-top: 5rem;
    height: 400px;
}
.about p{
    width: 90%;
    margin-top: 3rem;
}
.about .btn{
   display: inline-block;
   margin-top: 3rem;
}
/*//////////////*/
/*   Explore    */
/*/////////////*/
.explore{
    height: 820px;
    padding-top: 5rem;
}
.explore h2{
    text-align: center;
}
.explore img{
    padding: 3rem 0 0 1rem;
    width: 70%;
}
.explore span{
    display: block;
    text-align: center;
}
.endExplore{
    padding-top: 3rem;
}
.explore .btn{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}
/*//////////////////*/
/*   ingredients    */
/*//////////////////*/
.ingredients{
    height: 250px;
    padding-top: 5rem;
}
.ingredients p{
    padding-top: 2rem;
    width: 80%;
}
.ingredients .btn{
    display: inline-block;
}
/*//////////////*/
/*    Footer   */
/*/////////////*/
footer{
    padding-top: 3rem;
    height: 240px;
}
footer .grid-3{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);;
}
.pl{
    padding-left: 4rem;
}
.lnh{
    line-height: 3rem;
}
.brands ul{
    display: flex;
}
.brands li{
    padding-left: 1rem;
}
.footerEnd,
.cont{
    padding-left: 7rem;
}
.footLogo{
    padding-left: 7rem;
}
.closed{
    padding-left: 1rem;
}
/*//////////////*/
/*    color    */
/*/////////////*/
header, 
.showcase,
.btn,
.about{
    background: rgba(196, 155, 128);
}
.navBar a,
i,
.specialty a,
.explore .btn{
    color: rgb(88, 48, 11);
}
.specialty,
.about .btn,
.explore,
footer,
.ingredients .btn{
    background: rgb(34, 30, 31);
    color: rgba(196, 155, 128);
}
.footerEnd a,
.email,
.num{
    color: rgba(196, 155, 128);
}
footer{
    border-top: rgb(98, 63, 38);
}
small, 
footer span{
    display: block;
}
/*//////////////*/
/*    Images    */
/*/////////////*/
.showcase img{
    width: 95%;
}
.CoffeeBeanbg{
    height: 350px;
    background-image: url(../images/ingredients.png);
    background-repeat: no-repeat;
}
footer img{
    width: 30%;
}
/*//////////////*/
/* btns       */
/*/////////////*/
.btn{
    width: 30%;
    border: 1px solid rgba(196, 155, 128);
    padding: 0.5rem 3rem;
    cursor: pointer;
    text-align: center;
}
.btn:hover{
    transform: scale(0.9);
}
.about .btn{
    width: 25%;
    padding: 1rem 3rem;
}
.explore .btn,
.ingredients .btn{
    padding: 1rem 2rem;
    width: 15%;
}
.ingredients .btn{
    margin-top: 1rem;
}
/*//////////////*/
/* icons        */
/*/////////////*/
.fa-twitter::before{
    content: "\f099";
    font-family: "FontAwesome";
}
.fa-facebook-f::before{
    content: "\f39e";
    font-family: "FontAwesome";
}
.fa-instagram::before{
    content: "\f16d";
    font-family: "FontAwesome";
}
/*//////////////*/
/* fonts size   */
/*/////////////*/
.lg{
    font-size: 5rem;
}
.md{
    font-size: 2rem;
}
.smd{
    font-size: 1.5rem;
}
/*//////////////*/
/*  Utilities   */
/*/////////////*/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    overflow: hidden;
    padding: 0 4rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*////////////////*/
/*   Media Query  */
/*////////////////*/

/*//////////////*/
/*   Tablets   */
/*/////////////*/

/*///////1024//////*/

@media(max-width: 1024px) {
    .navBar a{
        padding-left: 0.5rem;
    }
    .specialty .container{
        max-width: 1000px;
    }
}

/*///////912//////*/

@media(max-width: 912px) {
    .navBar img{
        margin: 0 25rem;
    }
    .specialty .container{
        max-width: 850px;
    }
    .secondgrid{
        left: -10rem;
    }
    .about{
        height: 450px
    }
}

/*///////820//////*/

@media(max-width: 820px) {
    .specialty .coffeeIcon{
        width: 45%;
    }
    .about p{
        font-size: 1.5rem;
    }
    .explore{
        height: 700px;
    }
    .secondgrid{
        top: 0;
    }
    .specialty .btn{
        padding: 0.5rem 1rem;
    }
}

/*///////768//////*/
@media(max-width: 768px) {
    .navBar img{
        margin: 0 20rem;
    }
}

/*///////540//////*/
@media(max-width: 540px) {
    .navBar img{
        margin: 0 10rem;
    }
    .showcase {
        height: 250px;
    }
    .showcase h1{
        font-size: 3.5rem;
    }
    .showcase p{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    .showcase img{
        width: 100%;
    }
    .specialty{
        height: 800px;
    }
    .specialty .grid-2{
        grid-template-columns: 1fr;
    }
    .specialty .specialtyLogo{
        width: 10%;
        margin: 0 auto;
    }
    .secondgrid{
        left: 0;
        top: 0;
        margin: 0 auto;
        padding-top: 2rem;
    }
    .secondgrid h3{
        font-size: 4rem;
    }
    .secondgrid p{
        text-align: center;
        padding-top: 1rem;
    }
    .specialty .btn{
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .specialty .flex{
        flex-direction: column;
    }
    .specialty .coffeeIcon{
        width: 30%;
        margin: 0 auto;
    }
    .coffeeIcon img{
        padding-left: 0;
        line-height: 5rem;
        margin-top: 3rem;
    }
    .about{
        height: 630px;
    }
    .about .grid{
        grid-template-columns: 1fr;
    }
    .explore{
        height: 600px;
    }
    .ingredients{
        height: 350px;
    }
    .ingredients p{
        font-size: 2rem;
        width: 100%;
    }
    .ingredients .btn{
        width: 30%;
    }
    footer .grid-3{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        height: 310px;
    }
    .footerTop h6,
    address{
        text-align: center;
    }
    .footLogo img{
        width: 40%;
    }
    .brands li{
        padding: 1rem 0 0 1.5rem;
    }
    .footerEnd{
        padding: 2rem 0 0 6rem;
    }
    .cont{
        padding: 3rem 0 0 3rem;
    }
    .lnh{
        line-height: 2rem;
    }
    
}
/*///////414//////*/
@media(max-width: 414px) {
    .hamburger{
        display: block;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .mainMenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(34, 30, 31);
        width: 100%;
        height: 40rem;
        text-align: center;
        transition: 0.3s;
    }
    .mainMenu.active{
        left: 0;
    }
    .mainMenu a{
        font-size: 2.5rem;
        color: rgba(196, 155, 128);
    }
    .mainMenu img{
        width: 15%;
    }
    .specialty{
        height: 700px;
    }
    .about .btn{
        width: 40%;
    }
    .explore{
        height: 270rem;
    }
    .explore h2{
        font-size: 4rem;
    }
    .explore .flex{
        flex-direction: column;
    }
    .explore img{
        width: 100%;
    }
    .explore span{
        font-size: 1.5rem;
    }
    .explore .btn{
        width: 40%;
    }
    .explore .md{
        font-size: 2rem;
    }
    .ingredients{
        height: 400px;
    }
    .ingredients p{
        font-size: 1.5rem;
    }
    .ingredients .btn{
        margin-top: 2rem;
    }
    .hours{
        padding-top: 2rem;
    }
    .footLogo img{
        width: 60%;
        padding-top: 2rem;
    }
}

/*///////393//////*/
@media(max-width: 393px) {
    footer{
        height: 85rem;
    }
    footer .grid-3{
        grid-template-columns: 1fr;
    }
    footer .hours li{
        font-size: 2rem;
    }
    .footLogo img{
        padding-top: 4rem;
    }
    .footLogo small{
        display: block;
        text-align: center;
        padding-left: 0;
    }
    .cont{
        padding-left: 0;
    }
    .cont h6{
        text-align: center;
    }
    .cont span{
        display: block;
        text-align: center;
    }
    .brands li{
        margin: 0 auto;
        padding-top: 3rem;
    }
    .pl{
        padding-left: 0;
    }
    .footerEnd{
       text-align: center;
       padding: 2rem 0 0 0;
    }
    .footerEnd li{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
}
/*///////375//////*/
@media(max-width: 375px) {
    .showcase{
        height: 400px;
    }
    .showcase .grid{
        grid-template-columns: 1fr;
    }
    .showcase h1,
    .showcase p{
        text-align: center;
    }
    .showcase li{
        margin: 0 auto;
    }
    .showcase li:first-child{
        position: relative;
        left: 3rem;
    }
    .showcase li:nth-child(2n){
        position: relative;
        left: -1rem;
    }
    .showcase li:last-child{
        position: relative;
        left: -4rem;
    }
    .specialty{
        height: 650px;
    }
    .explore{
        height: 250rem;
    }
    .ingredients .btn{
        width: 50%;
    }
}

/*///////280//////*/

@media(max-width: 280px) {
    .showcase .grid{
        gap: 1px;
    }
    .showcase h1{
        width: 100%;
        font-size: 3rem;
    }
    .showcase p{
        font-size: 1.5rem;
    }
    .specialty{
        height: 550px;
    }
    .specialty h3{
        font-size: 2rem;
        text-align: center;
    }
    .about{
        padding-top: 1rem;
        height: 400px;
    }
    .about .grid{
        gap: 0px;
    }
    .about p{
        width: 100%;
        font-size: 1rem;
    }
    .about .btn{
        width: 80%;
    }
    .aboutImg{
        width: 100%;
    }
    .aboutImg img{
        padding-top: 0rem;
        width: 100%;
    }
    .explore{
        height: 200rem;
    }
    .ingredients{
        height: 220px;
    }
    .ingredients h3{
        font-size: 2.5rem;
        text-align: center;
    }
    .ingredients p{
        font-size: 1rem;
        text-align: center;
    }
    .ingredients .btn{
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
    }
    footer{
        height: 95rem;
    }
    footer .flex{
        flex-direction: column;
    }
    footer ol li, 
    footer .hours li{
        text-align: center;
    }
    footer .closed{
        padding-top: 1rem;
    }
    .footLogo img{
        width: 70%;
    }
   
}